.auto {
  display: flex;
  flex-wrap: wrap;
}
.car-details h2{
  text-align: center;
}
.car-details {
  width: 25%; 
  margin: 10px;
  background-color: white; 
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-container {
  overflow: hidden;
  height: 200px;
}

.autoss {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.voeg-auto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}


.add-car-button {
  text-align: end;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-car-button:hover {
  background-color: #545454;
}
body{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.hoofdpagina{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(achtergrondhoofdpagina.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 985px;

}
.pagina{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(210, 210, 210);
}
.hf-bt{
width: 12rem;
height: 3rem;
background-color: rgba(0, 0, 0);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;

}
.hf-bt:hover{
    background-color: rgb(42, 42, 42)
}
h1{
    color: white;
}
.contener{
    width: 100%;
    height: 100%;
    
}
.auto{
    border-top: solid 1px rgb(46, 46, 46);
    border-bottom: solid 1px rgb(46, 46, 46);
    width: 100%;
    height: 2100px;
    background-color: black;
}
nav{
    width: 100%;
    height: 100px;
    display: flex; 
    background-color: black;
    position: fixed;
    
    
}
nav img{
    padding-top: 14px;
    padding-left: 15px;
    width: 100px;
    height: 70px;
    display: flex;
  

}
ul{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    padding-right: 30px;
    
}
a{
    text-decoration: none;
    color: white;
}
ul li {
    list-style: none;
    padding-left: 60px;
    color: white;
    display: block;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: black;
    
}



.container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#search {
    color: inherit;
    padding: 12px 10px;
    width: 60vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    outline: none;
}

.match {
    font-weight: 600;
    color: green;
}

@media only screen and (min-width: 600px) {
    input#search {
        width: 40vw;
    }
}


.footer {
    background-color: #000000;
    color: white;
    padding: 30px 0;
    
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .footer-section {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
    
  }
  
  .footer-section h3 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }
  
  .social-icons a {
    color: white;
    margin-right: 10px;
    
  }
  
  
  
  .footer-bottom {
    background-color: #030303;
    padding: 10px 0;
    text-align: center;
    border-top: solid 1px rgb(46, 46, 46);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .form input {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-section {
      margin-bottom: 20px;
    }
  }
  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  .con {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
  }
  body, button, input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
  }
  body, input {
    color: #171717;
  }
  body, .search-bar {
    display: flex;
  }
  body {
    background: #f1f1f1;
    height: 100vh;
  }
  .search-bar input,
  .search-btn, 
  .search-btn:before, 
  .search-btn:after {
    transition: all 0.25s ease-out;
  }
  .search-bar input,
  .search-btn {
    width: 3em;
    height: 3em;
  }
  .search-bar input:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid  {
    width: 100%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
  }
  .search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
  }
  .search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
  }
  .search-btn:before, 
  .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  /* Active state */
  .search-bar input:focus + .search-btn,
  .search-bar input:valid + .search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .search-bar input:focus + .search-btn:before, 
  .search-bar input:focus + .search-btn:after,
  .search-bar input:valid + .search-btn:before, 
  .search-bar input:valid + .search-btn:after {
    opacity: 1;
  }
  .search-bar input:focus + .search-btn:hover,
  .search-bar input:valid + .search-btn:hover,
  .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: #0c48db;
  }
  .search-bar input:focus + .search-btn:active,
  .search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body, input {
      color: #f1f1f1;
    }
    body {
      background: #171717;
    }
    .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  }